<div>
    <!-- Top header bar -->
<div id="topHeader">
    <div class="wrapper">
        <div class="top_nav two">
            <div class="container">
                <ul>
                    <li><a target="_blank" href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a target="_blank" href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="last"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <a href="#" class="registerbut">Register</a><a class="login_but" href="#">Login</a>
                <span>24x7 live
                    Technical Support &nbsp;&nbsp; <i class="fa fa-phone"></i> &nbsp;(+91)8010905911</span>
                <!-- end right social links -->

            </div>
        </div>
    </div>
</div>
<!-- end top navigation -->

<div id="trueHeader">
    <div class="wrapper">
        <div class="container">

            <!-- Logo -->
            <div class="logo"><a href="index.html" id="logo"></a></div>

            <!-- Menu -->
            <div class="menu_main">
                <div class="navbar yamm navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse"
                                data-target="#navbar-collapse-1"> <span>Menu</span>
                                <button type="button"> <i class="fa fa-bars"></i></button>
                            </div>
                        </div>
                        <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">
                            <nav>
                                <ul class="nav navbar-nav">
                                    <li class="dropdown yamm-fw"> <a href="message-boxes.html"
                                            class="dropdown-toggle">Banking</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <!-- Content container to add padding -->
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <ul class="col-sm-6 col-md-3 list-unstyled ">
                                                            <li>
                                                                <p> Savings Account </p>
                                                            </li>
                                                            <li><a href="banking_general.html"><i
                                                                        class="fa fa-plus-circle"></i>
                                                                    &nbsp; General</a> </li>
                                                            <li><a href="banking_premium.html"><i
                                                                        class="fa fa-plus-circle"></i>
                                                                    &nbsp; Premium</a> </li>
                                                            <li><a href="banking_kids.html"><i
                                                                        class="fa fa-plus-circle"></i>
                                                                    &nbsp; Kids</a> </li>
                                                            <li><a href="banking_senior_citizen.html"><i
                                                                        class="fa fa-plus-circle"></i>
                                                                    &nbsp; Senior Citizens</a> </li>
                                                        </ul>
                                                        <ul class="col-sm-6 col-md-3 list-unstyled ">
                                                            <li>
                                                                <p> Fixed Diposit </p>
                                                            </li>
                                                            <li><a href="banking_fixed_term_deposit.html"><i
                                                                        class="fa fa-plus-circle"></i>
                                                                    &nbsp; Fixed Term Diposit</a> </li>
                                                            <li><a href="fixed-deposit-reinvestment.html"><i class="fa fa-plus-circle"></i>
                                                                    &nbsp; Fixed Diposit Reinvestment</a>
                                                            </li>
                                                        </ul>
                                                        <ul class="col-sm-6 col-md-3 list-unstyled ">
                                                            <li>
                                                                <p> Cards </p>
                                                            </li>
                                                            <li><a href="rupay-card.html"><i class="fa fa-plus-circle"></i>
                                                                    &nbsp; RUPAY Debit Card</a> </li>
                                                        </ul>
                                                        <ul class="col-sm-6 col-md-3 list-unstyled ">
                                                            <li>
                                                                <p> Others </p>
                                                            </li>
                                                            <li><a href="inland-billing-discount.html"><i class="fa fa-plus-circle"></i>
                                                                    &nbsp; Corporate Banking</a> </li>
                                                            <li><a href="inland-letter-of-credit.html"><i class="fa fa-plus-circle"></i>
                                                                    &nbsp; Investor Relations</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--end elements styles-->
                                    <li class="dropdown"> <a href="index.html" class="dropdown-toggle">
                                            Business</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="general-current-account.html"><i class="fa fa-plus-circle"></i> &nbsp; Current
                                                    Account General</a> </li>
                                            <li><a href="premium-current-account.html"><i class="fa fa-plus-circle"></i> &nbsp; Current
                                                    Account Premium</a> </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"> <a href="domain_search.html" class="dropdown-toggle">
                                            Loans</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="retail-personal-loan.html"><i class="fa fa-plus-circle"></i> &nbsp;
                                                    Individulas/Professionals</a> </li>
                                            <li><a href="working-capital-loan.html"><i class="fa fa-plus-circle"></i> &nbsp; Agri &
                                                    Allied Service</a> </li>
                                            <li><a href="traders-loan.html"><i class="fa fa-plus-circle"></i> &nbsp;
                                                    MSMEs</a> </li>
                                            <li><a href="corporate-loan.html"><i class="fa fa-plus-circle"></i> &nbsp; Micro
                                                    Finance</a> </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"> <a href="webhosting.html" class="dropdown-toggle">
                                            Services</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="door-step-service.html"><i class="fa fa-plus-circle"></i> &nbsp;
                                                    Door-Step Service</a> </li>
                                            <li><a href="neft-services.html"><i class="fa fa-plus-circle"></i> &nbsp; NEFT
                                                    Service</a> </li>
                                            <li><a href="rtgs-services.html"><i class="fa fa-plus-circle"></i> &nbsp; RTGS
                                                    Service</a> </li>
                                            <li><a href="imps-services.html"><i class="fa fa-plus-circle"></i> &nbsp; IMPS
                                                    Service</a> </li>
                                            <li><a href="utility-bill-payments.html"><i class="fa fa-plus-circle"></i> &nbsp; Utility
                                                    Bills Payment</a> </li>
                                            <li><a href="ecs-services.html"><i class="fa fa-plus-circle"></i> &nbsp; ECS
                                                    Service</a> </li>
                                        </ul>
                                    </li>

                                    <li class="dropdown"> <a href="webhosting.html" class="dropdown-toggle">
                                            More</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="career.html"><i class="fa fa-plus-circle"></i> &nbsp;
                                                    Career</a> </li>
                                            <li><a href="get-in-touch.html"><i class="fa fa-plus-circle"></i> &nbsp; Get In
                                                    Touch</a> </li>
                                            <li><a href="mission.html"><i class="fa fa-plus-circle"></i> &nbsp;
                                                    Mission</a> </li>
                                            <li><a href="about-us.html"><i class="fa fa-plus-circle"></i> &nbsp; About
                                                    Us</a> </li>
                                        </ul>
                                    </li>
                                    <!--end elements styles-->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end menu -->

        </div>
    </div>
</div>
</div>